{#
 # This file is part of the Inwicast plugin for Claroline Connect.
 #
 # (c) INWICAST <dev@inwicast.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% if error != null %}
<div class="alert alert-{{ error.type }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{ error.title|trans({}, 'widget') }}</strong> {{ error.content|trans({}, 'widget') }}
</div>
{% endif %}

<form action="{{ path('claro_resource_create', {'resourceType': 'inwicast_media', 'parentId': '_nodeId'}) }}" method="post">
    Cliquez sur le bouton Valider pour importer toutes vos vidéos Mediacenter dans vos ressources Claroline.
    <br />
    <button type="submit" class="btn btn-primary" tabindex="3">{{ 'validate'|trans({}, 'widget') }}</button>
</form>